body{
	margin: 0px;
}
header {
	font-size: 70px;
	font-weight: bold;
	font-family: Calibri;
}
.gameInfo {
	margin: 0px auto 50px;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	font-family: Roboto;
}
.winnerInfo {
	text-align: center;
	display: none;
}